.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    }
.button-wrapper {
    text-align: center;
  }
button {
    width: 150px;
    height: 50px;
    }
    body {
        background-image: url("image/haikei3.jpg");
        background-size: cover;
      }